<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      th:include="layout :: page">
<body>
<div th:fragment="content">
    <div  class="page-header">
        <h3 class="text-center">Change profile</h3>
    </div>
    <form th:action="@{/profile/edit}" method="post" class="form-sign" th:object="${newUser}">
        <div class="form-group">
            <label class="control-label" for="username">User Name</label>
            <input type="text" class="form-control" id="username" th:field="*{username}" th:placeholder="${currentUserName}" />
        </div>
        <div class="form-group">
            <label class="control-label" for="email">Email</label>
            <input type="email" class="form-control" id="email" th:field="*{email}" placeholder="${currentUserEmail}" />
        </div>
        <div class="form-group">
            <label class="control-label" for="password">Password</label>
            <input type="password" class="form-control" th:field="*{password}" id="password" placeholder="Password" />
        </div>
        <div class="form-group">
            <label class="control-label" for="confirmPassword">Confirm Password</label>
            <input type="password" class="form-control" th:field="*{confirmPassword}" id="confirmPassword" placeholder="Confirm Password" />
        </div>

        <div class="form-group">
            <label for="location">Location name</label>
            <select id="location" class="form-control" th:name="${location}" th:field="*{location.id}">
                <option th:each="location : ${locations}"
                        th:value="${location.id}"
                        th:text="${location.name}">
                </option>
            </select>
            <ul>
                <li th:each="err : ${#fields.errors('location.id')}" th:text="${err}"></li>
            </ul>
        </div>

        <button type="submit" class="btn btn-default">Save changes</button>
    </form>
</div>
</body>
</html>