<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      th:include="layout :: page">
<body>
    <div th:fragment="content">

        <div class="starter-template">
            <h1>Welcome to Airtrack Application</h1>
            <h2> Please select location: </h2>
        </div>
        <div class="list-locaions">

            <tr th:each="location : ${locations}">
                <p>
                    <a th:href="@{/condition/{id}(id=${location.id})}">
                        <td th:text="${location.id}"></td>
                        <td th:text="${location.name}"></td>
                    </a>
                </p>

            </tr>
        </div>

        <div class="row">
            <div class="col-md-2 col-md-offset-10">
                <a type="button" class="btn btn-primary" th:href="@{/addlocation}">Add new Location</a>
            </div>
        </div>
    </div>
</body>
</html>