<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      th:include="layout :: page">
<body>
<div th:fragment="content">
    <div  class="page-header">
        <h3 class="text-center">Your profile</h3>
    </div>
        <div>
            <table class="table table-hover">
                <tbody>
                <tr >
                    <td>Your name  </td>
                    <td th:text="*{user.username}"></td>
                </tr>
                <tr >
                    <td>Your email  </td>
                    <td th:text="*{user.email}"></td>
                </tr>
                <tr >
                    <td>Your location  </td>
                    <td th:text="${location.name}"></td>
                </tr>
                </tbody>
            </table>
        </div>
    <div class="row">
        <div class="col-md-2 col-md-offset-10">
            <a type="button" class="btn btn-primary" th:href="@{/profile/edit}">Edit profile</a>
        </div>
    </div>


</div>
</body>
</html>